<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" method="post" style="text-align: center;">
    <div class="input-block">
        <input type="text" placeholder="Enter username" name="username" id="username">
    </div>

    <div class="input-block">
        <input type="password" placeholder="Enter Password" name="password" id="password">
    </div>
    <input type="submit" value="Register"/>
    <a href="/login">Sign in</a>
</form>
</body>
</html>