

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(145, 79, 245, 0.26);
}

.container {
    display: block;
    max-width: 800px;
    height: 95vh;
    margin: auto;
}

.content {
    position: relative;

    height: 100%;
    background-color: #f6f6f6;
    border: 1px solid #ccc;

    font-size: 18px;
}
.notification-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 350px;
    overflow-y: auto;
    height: auto;
}